

/* body style */
body {
  font-family: "Atma", system-ui;
  font-weight: 600;
  font-style: normal;
  color: #670000;
  background-color: #e6e6e6; 
}

/* h2 style */
h2 {
  color: #670000;
  font-family: "Atma", system-ui;
  font-weight: 600;
  font-style: normal;
}
h1 {
  font-family: "Atma", system-ui;
  font-weight: 600;
  font-style: normal;
  color: #670000;
}

/* h3 style */
h3 {
  font-family: "Atma", system-ui;
  font-weight: 600;
  font-style: normal;
  color: #670000;
}

/* style for images */
img {
  width: auto;
  height: 200px;
  border: 2px solid #003E1F;
    align: self;
  float: center;
  border-color: #b3b3b3;
  border-width: 4px;
  border-style: solid;
  border-radius: 10px;
  
}
